@import '../../appStyles/colors';

.ng-touched.ng-invalid{
border-color: $red;
}

.white{
  color: $white;
}

span.input-group-text{
  background:$white;
}

.pageLayout{
  height: 80%;
    padding-top: 15%;
}
