/* You can add global styles to this file, and also import other style files */
@import './appStyles/colors';

a{
  text-decoration: none !important;
}

p{
  margin-bottom: unset !important;
}

input,button,a{
  cursor: pointer;
}

.errorbg{
  background-color: $errorModal;
}

.successbg{
  background: $successModal;
}

.warningbg{
  background: $warningModal;
}


